+b.HEADER.header--blue
    +e.container.container
        +e.BUTTON.button-hamburger.button
        +e.left
            +e.A.logo
                img(src="/img/logo.svg")
        +e.BUTTON.button-search.button
        +e.search.search__.--blue-theme
            +e.input.input--search.--blue-theme
                input(placeholder="Название курорта, города, отеля")
            +e.UL.results
                +e.LI.result.result__
                    +e.A.title--hotel.--blue-theme Город Сочи
                    +e.info Номера от 15000 р.
                    +e.ADDRESS.address
                        span Сочи, р-н. Адлеровский, пос. Красная поляна...
                +e.LI.result.result__
                    +e.A.title--city.--blue-theme Город Сочи
                    +e.info Номера от 15000 р.
                    +e.ADDRESS.address Сочи, р-н. Адлеровский, пос. Красная поляна...
            +e.popular
                p Популярные направления
                span Сочи
                span Якорная щель
                span Лазаревское
                span Дагомыс
        +e.menu.--mobile
            +e.center
                +e.nav.nav__
                    +e.A.logo
                        img(src="/img/logo.svg")
                    +e.UL.list
                        +e.LI.item.toggle__
                            +e.title Города
                            +e.UL.list--groups
                                +e.LI.group
                                    +e.letter A
                                    +e.UL.list--links
                                        +e.A.link
                                            span Адыгея
                                        +e.A.link
                                            span Адыгея
                                        +e.A.link
                                            span Адыгея
                                +e.LI.group
                                    +e.letter A
                                    +e.UL.list--links
                                        +e.A.link
                                            span Адыгея
                                        +e.A.link
                                            span Адыгея
                                        +e.A.link
                                            span Адыгея
                        +e.LI.item.toggle__
                            +e.title Курорты
                            +e.UL.list--groups
                                +e.LI.group
                                    +e.letter A
                                    +e.UL.list--links
                                        +e.A.link
                                            span Адыгея
                                        +e.A.link
                                            span Адыгея
                                        +e.A.link
                                            span Адыгея
                        +e.LI.item Курорты
                        +e.LI.item Турбазы
                        +e.LI.item Санатории
                        +e.LI.item
                            +e.A.link
                                span Блог