extends blocks/layout

block head
block header
    include blocks/header
block content
    include blocks/index/main
    include blocks/index/resorts
    include blocks/index/about
    include blocks/hotels
    include blocks/index/add-hotel
block footer-scripts