+b.footer
    +e.container.container
        +e.A.logo(href="#")
            img(src="/img/logo.svg")
        +e.body
            +e.text.text--footer
                span По вопросам рекламы и сотрудничества: <a href="tel:+7959">+7 (937) 749-24-60</a>
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
            +e.UL.list
                +e.LI.item
                    a(href="#") О проекте
                +e.LI.item
                    a(href="#") Связаться с нами
                +e.LI.item
                    a(href="#") Добавить организацию на сайт
                +e.LI.item
                    a(href="#") Сообщить об ошибке
            +e.socials
                +e.A.social.social--vk(href="#")
                +e.A.social.social--facebook(href="#")
                +e.A.social.social--odnoklassniki(href="#")
    +e.policy.text--policy
        +e.wrapper
            a(href="#")
                span Политика конфиденциальности
            a(href="#")
                span Пользовательское соглашение
            p Все права защищены 2017 ООО «турист рф»
