+b.hotels#hotels
    +e.container
        +e.H2.title Новые отели на сайте
        +e.slider#hotels-slider
            //+e.item.hotel__.--card
            //    +e.photo--card.--center
            //        img(src="")
            //    +e.content--card.--center
            //        +e.stars.stars--five.--card
            //        +e.title--card
            //            span
            //        +e.ADDRESS.address--card
            //        +e.UL.benefits--card
            //            +e.LI.benefit--card
            //                span
            //            +e.LI.benefit--card
            //                span
            //            +e.LI.benefit--card
            //                span
            //            +e.LI.benefit--card
            //                span
            //        +e.A.phone--card(href="tel:7954566")
            //        +e.info-container
            //            +e.score.--card.score__
            //                +e.number.--green
            //                    span
            //                p
            //            +e.price--card
