+b.other-news.news__.--article
    +e.container.container
        +e.wrapper--article
            +e.main-title--article Другие новости
            +e.list--article
                +e.A.card--article.--big(href="#")
                    +e.photo
                        img(src="/img/article/news1.jpg")
                    +e.info--article
                        +e.title--article.--card Московская область и туризм
                        +e.date--article 17.12.2017
                +e.A.card--small.--article(href="#")
                    +e.photo
                        img(src="/img/article/news2.jpg")
                    +e.info--article
                        +e.title--article.--card Московская область и туризм
                        +e.date--article 17.12.2017
                +e.A.card--small.--article(href="#")
                    +e.photo
                        img(src="/img/article/news3.jpg")
                    +e.info--article
                        +e.title--article.--card Московская область и туризм
                        +e.date--article 17.12.2017
                +e.A.card--big.--article(href="#")
                    +e.photo
                        img(src="/img/article/news4.jpg")
                    +e.info--article
                        +e.title--article.--card Московская область и туризм
                        +e.date--article 17.12.2017
            +e.BUTTON.button--more-news(type="button") Еще новости