+b.popup--cabinet.sl--scrollable
    +e.body
        +e.form--cabinet.form__.--cabinet
            +e.body--cabinet.--popup
                +e.title Вход для отельера
                +e.line
                    +e.LABEL.field-name(for="sign-email") Email
                    +e.input.input--form-popup.--black
                        input(placeholder="example@gmail.com" id="login-email")
                +e.line--forgot
                    +e.LABEL.field-name(for="sign-password") Пароль
                    +e.A.forgot(href="#")
                        span Забыли пароль?
                    +e.input--password.input--form-popup.--black
                        input(placeholder="Пароль")
                        +b.BUTTON.button--eye(type="button")
                +e.BUTTON.button--login.button--blue Войти
                +e.BUTTON.button--call-registration.button Зарегистрироваться
            +e.BUTTON.button--close.button--close(type="button")
                span
            +e.preloader.preloader__
                +e.spinner.spinner__
                    +e.line
                        +e.cog
                            +e.cog-inner--left
                        +e.ticker
                            +e.cog-inner--center
                        +e.cog
                            +e.coh-inner--right
            +e.response
        +e.form--forgot.form__.--forgot
            +e.body.--popup
                +e.title--forgot Восстановление пароля
                +e.P.text Введите почту, на которую придет ссылка на восстановление
                +e.line
                    +e.input.input.--form-popup.--black
                        input(placeholder="example@gmail.com" id="forgot-email")
                +e.button-wrapper--forgot
                    +e.BUTTON.button--recover.button--blue Восстановить
            +e.BUTTON.button--close.button--close(type="button")
                span
            +e.preloader.preloader
                +e.spinner.spinner__
                    +e.line
                        +e.cog
                            +e.cog-inner--left
                        +e.ticker
                            +e.cog-inner--center
                        +e.cog
                            +e.coh-inner--right
            +e.response.response__
                +e.wrapper--booking
                    div
                    span Письмо с новым паролем отправлено на почту
        +e.form--registration.form__.--registration
            +e.body--popup
                +e.title.--registration Регистрация
                +e.line
                    +e.LABEL.field-name(for="name") ФИО
                    +e.input.input.--form-popup.--black
                        input(placeholder="Иванов Иван Иванович" id="name")
                +e.line
                    +e.LABEL.field-name(for="email") Email
                    +e.input.input.--form-popup.--black
                        input(placeholder="example@gmail.com" id="email")
                +e.line
                    +e.LABEL.field-name(for="phone") Телефон
                    +e.LABEL.input.input.--form-popup.--black
                        input(placeholder="Пароль" id="phone")
                +e.line
                    +e.LABEL.field-name(for="password") Пароль
                    +e.LABEL.input.input.--form-popup.--black
                        input(placeholder="Пароль" id="password")
                +e.BUTTON.button--registration.button--blue Зарегистрироваться
                +e.policy
                    p Нажимая “Зарегистрироваться”, вы даете согласие
                    a(href="#") на обработку персональных данных
            +e.BUTTON.button--close.button--close(type="button")
                span
            +e.preloader.preloader
                +e.spinner.spinner__
                    +e.line
                        +e.cog
                            +e.cog-inner--left
                        +e.ticker
                            +e.cog-inner--center
                        +e.cog
                            +e.coh-inner--right
            +e.response.response__
                +e.wrapper
                    div
                    span Регистрация завершена
                    p Войдите в личный кабинет или закройте сообщение
    +e.close

