+b.search--blue.sl--scrollable
    +e.H1.main-title Поиск по сайту
    +e.line--blue
        +e.A.logo(href="#")
            img(src="/img/logo.svg")
        +e.input--blue.input--blue-search.--big
            input(placeholder="Название курорта, города, отеля")
    +e.UL.results--blue.custom-scroll.sl--scrollable
        +e.LI.item--city.--blue
            +e.title--city.--blue Город Сочи
            +e.A.info--city.--blue(href="#") — 1000 предложений
        +e.LI.item--hotel.--blue
            +e.title--hotel.--blue Отель «Солис Сочи»
            +e.A.info--hotel.--blue(href="#") Номера от 15000 р.
            +e.ADDRESS.address.--blue Сочи, р-н. Адлеровский, пос. Красная поляна
        +e.LI.item--hotel.--blue
            +e.title--hotel.--blue Отель «Солис Сочи»
            +e.A.info--hotel.--blue(href="#") Номера от 15000 р.
            +e.ADDRESS.address.--blue Сочи, р-н. Адлеровский, пос. Красная поляна
        +e.LI.item--hotel.--blue
            +e.title--hotel.--blue Отель «Солис Сочи»
            +e.A.info--hotel.--blue(href="#") Номера от 15000 р.
            +e.ADDRESS.address.--blue Сочи, р-н. Адлеровский, пос. Красная поляна
        +e.LI.item--hotel.--blue
            +e.title--hotel.--blue Отель «Солис Сочи»
            +e.A.info--hotel.--blue(href="#") Номера от 15000 р.
            +e.ADDRESS.address.--blue Сочи, р-н. Адлеровский, пос. Красная поляна
        +e.LI.item--hotel.--blue
            +e.title--hotel.--blue Отель «Солис Сочи»
            +e.A.info--hotel.--blue(href="#") Номера от 15000 р.
            +e.ADDRESS.address.--blue Сочи, р-н. Адлеровский, пос. Красная поляна
    +e.popular
        h2 Популярные направления
        p
            a(href="#") Сочи
            a(href="#") Якорная щель
        p
            a(href="#") Лазаревское
            a(href="#") Дагомыс
        p
            a(href="#") Вардане
            a(href="#") Адлер
            a(href="#") Все
    +e.BUTTON.close.button--close
        span