+b.about
    +e.container.container
        +e.image
            img(src="/img/index/about-traveler.svg")
        +e.content
            +e.H3.title Турист.рф — это открытая и достоверная информация
            +e.slider
                +e.item.benefit__
                    +e.icon--actual
                    +e.description
                        +e.title Актуальная информация
                        +e.text.text
                            p Повседневная практика показывает, что постоянный количественный рост
                +e.item.benefit__
                    +e.icon--travel
                    +e.description
                        +e.title Популярные места для путешествий
                        +e.text.text
                            p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности способствует
                +e.item.benefit__
                    +e.icon--sale
                    +e.description
                        +e.title Обзор акций, мероприятия новостей
                        +e.text.text
                            p Повседневная практика показывает, что постоянный количественный рост
                +e.item.benefit__
                    +e.icon--find
                    +e.description
                        +e.title Удобный поиск по базе отелей
                        +e.text.text
                            p Повседневная практика показывает, что постоянный количественный рост
                +e.item.benefit__
                    +e.icon--phone
                    +e.description
                        +e.title Прямые контакты отелей
                        +e.text.text
                            p Повседневная практика показывает, что постоянный количественный рост
                +e.item.benefit__
                    +e.icon--feedbacks
                    +e.description
                        +e.title Достоверные отзывы клиентов
                        +e.text.text
                            p Повседневная практика показывает, что постоянный количественный рост