+b.add-hotel
    +e.container.container
        +e.text
            H2 Вы владелец гостиницы?
            p Добавьте ее на турист.рф
        +e.BUTTON.button.button(type="button") Добавить гостиницу
        +e.image
            img(src="/img/index/lock.svg")