+b.main
    +e.container.container
        +e.H1.title Ищите и бронируйте отели по всей России без посредников
    +e.container--search.container
        +e.search.search__
            +e.input--index-search.input--big
                input(placeholder="Название курорта, города, отеля")
            +e.BUTTON.button--index-search.button(type="button")
            +e.UL.results--index-search.custom-scroll
                +e.LI.item--city.--index-search
                    +e.title--city.--index-search Город Сочи
                    +e.A.info--city.--index-search(href="#") — 1000 предложений
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
                +e.LI.item--hotel.--index-search
                    +e.title--hotel.--index-search Отель «Солис Сочи»
                    +e.A.info--hotel.--index-search(href="#") Номера от 15000 р.
                    +e.ADDRESS.address.--index-search Сочи, р-н. Адлеровский, пос. Красная поляна
        +e.info.text
            p 2547 прямых телефонов и адресов отелей
