+b.resorts
    +e.container.container
        +e.text
            H2 Лучше один раз увидеть
            p Бронируйте отели рядом с самыми интересными местами
        +e.slider
                +e.item.city__
                    +e.A.photo(href="#")
                        img(src="/img/index/resorts1.jpg")
                        +e.description
                            +e.H3.title Геленджик
                            +e.info
                                p Название пригорода Анапы Джемете переводится как «золотые пески». Они и вправду такие! В Анапе - активная жизнь, в Джемете - размеренная, семейная.
                    +e.tags
                        +e.A.tag(href="#") 170 гостиниц и отелей
                        +e.A.tag(href="#") 170 санаториев и пансионатов
                        +e.A.tag(href="#") 170 хостелов
                        +e.A.tag(href="#") 170 гостевых домов
                        +e.A.tag(href="#") 170 апартаментов
                +e.item.city__
                    +e.A.photo(href="#")
                        img(src="/img/index/resorts2.jpg")
                        +e.description
                            +e.H3.title Туапсе
                            +e.info
                                p Название пригорода Анапы Джемете переводится как «золотые пески». В Анапе активная жизнь, а в Джемете — семейная.
                    +e.tags
                        +e.A.tag(href="#") 170 гостиниц и отелей
                        +e.A.tag(href="#") 170 санаториев и пансионатов
                        +e.A.tag(href="#") 170 хостелов
                        +e.A.tag(href="#") 170 гостевых домов
                        +e.A.tag(href="#") 170 апартаментов
                +e.item.city__
                    +e.A.photo(href="#")
                        img(src="/img/index/resorts3.jpg")
                        +e.description
                            +e.H3.title Геленджик
                            +e.info
                                p Название пригорода Анапы Джемете переводится как «золотые пески». Они и вправду такие! В Анапе - активная жизнь, в Джемете - размеренная, семейная.
                    +e.tags
                        +e.A.tag(href="#") 170 гостиниц и отелей
                        +e.A.tag(href="#") 170 санаториев и пансионатов
                        +e.A.tag(href="#") 170 хостелов
                        +e.A.tag(href="#") 170 гостевых домов
                        +e.A.tag(href="#") 170 апартаментов
                +e.item.city__
                    +e.A.photo(href="#")
                        img(src="/img/index/resorts4.jpg")
                        +e.description
                            +e.H3.title Туапсе
                            +e.info
                                p Название пригорода Анапы Джемете переводится как «золотые пески». В Анапе активная жизнь, а в Джемете — семейная.
                    +e.tags
                        +e.A.tag(href="#") 170 гостиниц и отелей
                        +e.A.tag(href="#") 170 санаториев и пансионатов
                        +e.A.tag(href="#") 170 хостелов
                        +e.A.tag(href="#") 170 гостевых домов
                        +e.A.tag(href="#") 170 апартаментов
