+b.article--page#article-page
    +e.top
        +e.photo--page
            img(src="/img/article/main.jpg")
        +e.container--absolute.container
            +e.wrapper
                +e.date--page 19.12.2017
                +e.H1.title--page Достопримечательности Нижнего Новгорода
                +e.UL.breadcrumbs
                    +e.item--link
                        a(href="#") Блог /
                    +e.item--text
                        span &nbsp;Достопримечательности Нижнего Новгорода
    +e.container.container
        +e.content.text__.--article
            p Город в центральной России, административный центр Приволжского федерального округа и Нижегородской области. Основан в 1221 году владимирским князем Юрием Всеволодовичем.
            p Расположен в центре Восточно-Европейской равнины на месте слияния Оки и Волги. Ока делит город на две части: нагорную — верхнюю, на Дятловых горах, и заречную — нижнюю, на её левом низинном берегу. Волга разделяет Нижний Новгород и Борский округ.
            p Конечно, в России есть много красивых городов с богатой историей. Но Нижний Новгород особенно выделяется своей необычностью. Этот город-миллионник, расположившийся в центре Поволжья на месте слияния двух красивейших рек (Волги и Оки), богат на интересные достопримечательности, необычные скульптуры, старинные храмыи церкви. Все это гармонично сочетается с красивыми природными видами. Оценить всю самобытность и своеобразие Нижнего можно в процессе пешей прогулки.
            h2 Обязательные места посещения в Нижнем Новгороде:
            ul
                li Чкаловская лестница
                li Набережная Федоровского
                li Нижегородский Кремль
                li Зоопарк "Лимпопо"
            ul
                li Чкаловская лестница
                li Набережная Федоровского
                li Нижегородский Кремль
                li Зоопарк "Лимпопо"
            p Для туристов, желающих познакомиться с городом, целесообразнее всего начинать прогулку в Канавинском районе - самом старом районе Нижнего Новгорода. Там действительно есть на что посмотреть путешественникам. Музей «Паровозы России», цирк, планетарий, памятники архитектуры, храмы и церкви - вот далеко неполный перечень мест, заслуживающих внимания.
            h2 Нижегородская Стрелка
            +e.img-label
                img(src="/img/article/img-onText.jpg")
                p Нижний Новгород находится на слиянии двух рек. Живописное место, имеющее треугольную форму, называется Стрелка.
            p Оценить всю ее красоту можно с фуникулера канатной дороги. Примечательным сооружением Стрелки является Нижегородский Речной порт, воздвигнутый более 85 лет назад. В 2018 году планируется перенести порт в другое место в связи с футбольным Чемпионатом. А на месте порта предполагается обустройство парка.
            p Помимо природного острова, Стрелкой именуется и улица, пролегающая рядом. Самым монументальным строением данной улицы в полной мере можно назвать огромный (пятый по высоте в России) кафедральный собор - Александра Невского. Его размеры производят поистине ошеломляющее впечатление. На звоннице этого собора красуется также поражающий своими размерами "Соборный" колокол. По весу, составляющему 64 тонны, он занимает третье место в России.
            p Следующая улица - Совнаркомовская - знаменита Нижегородской ярмаркой. Эта ярмарка внесла неоценимый вклад в экономическое развитие страны, благодаря тому, что в свое время была крупнейшей и по занимаемой территории, и по товарообороту. Сейчас здание ярмарки занимает главный деловой и выставочный комплекс Нижнего Новгорода с гостиницей, магазинами.
            p Неподалеку (слева от ярмарки) находится еще один весьма примечательный <a href="#">трехзвездочный отель «Маринс Парк»</a>. Ночью название отеля, выполненное из больших неоновых букв синего цвета, красиво отражается в водах реки Оки.
            p Туристы, приезжающие в Нижний поездом, обязательно обращают свое внимание на Московский вокзал, расположенный в Императорском павильоне, построенном в 19 веке. В начале двухтысячных был целиком отреставрирован центральный каминный зал, императорский кабинет, комната императрицы, два вестибюля и другие помещения. Внутренняя и внешняя отделка павильона производит впечатление на всех гостей, приезжающих в Новгород.