+b.blog#blog
    +e.container.container
        +e.wrapper
            +e.head
                +e.H1.title Блог о туризме в России
                +e.sort.sort__
                    +e.select.select__.--blog
                        +e.BUTTON.value--up.button(type="button")
                            span по популярности
                        +e.list--blog
                            +e.option
                                span популярности
                            +e.option--down
                                span рейтингу
                            +e.option--up
                                span рейтингу
                            +e.option--down
                                span цене
                            +e.option--up
                                span цене
            +e.news.news__.--blog
                +e.list
                    +e.A.card--big.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news1.jpg")
                        +e.title--blog Московская область встречает туристов со всей России
                        +e.date--blog 17.12.2017
                    +e.A.card--small.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news2.jpg")
                        +e.title--blog «Народный пельмень» в Челябинской области
                        +e.date--blog 17.12.2017
                    +e.A.card--small.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news3.jpg")
                        +e.title--blog Московская область встречает туристов со всей России
                        +e.date--blog 17.12.2017
                    +e.A.card--big.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news4.jpg")
                        +e.title--blog «Народный пельмень» в Челябинской области
                        +e.date--blog 17.12.2017
                    +e.A.card--big.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news1.jpg")
                        +e.title--blog Московская область встречает туристов со всей России
                        +e.date--blog 17.12.2017
                    +e.A.card--small.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news2.jpg")
                        +e.title--blog «Народный пельмень» в Челябинской области
                        +e.date--blog 17.12.2017
                    +e.A.card--small.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news3.jpg")
                        +e.title--blog Московская область встречает туристов со всей России
                        +e.date--blog 17.12.2017
                    +e.A.card--big.--blog(href="#")
                        +e.photo
                            img(src="/img/article/news4.jpg")
                        +e.title--blog «Народный пельмень» в Челябинской области
                        +e.date--blog 17.12.2017

